{% extends 'gallery/base.html' %}
{% load static %}
{% block content %}
<section class="conteudo">
    <section class="imagem">
        <div class="imagem__conteudo">
            {% if photography.address != None and photography.address != '' %}
                <img class="imagem__imagem" src="{{ photography.address.url }}">
            {% else %}
                <img class="imagem__imagem" src="{% static '/assets/imagens/galeria/not-found.png' %}">
            {% endif %}
            <div class="imagem__info">
                <div class="imagem__texto">
                    <p class="imagem__titulo">{{ photography.name }}</p>
                    <p class="imagem__descricao">{{ photography.subtitle }}</p>
                    <p class="imagem__texto">{{ photography.description }}</p>
                </div>
                {% if photography.user == request.user %}
                <div>
                    <a href="{% url 'edit' photography.id %}"><button class="btn btn-success col-12" style="margin-top: 10px; margin-left: 5px;">Editar</button></a>
                    <a href="{% url 'delete' photography.id %}"><button type="submit" class="btn btn-danger col-12" style="margin-top: 10px; margin-left: 5px;">Deletar</button></a>
                </div>
                {% endif %}
            </div>
        </div>
    </section>
</section>
</main>
</div>
{% endblock %}